@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field {
  @apply border p-2 rounded w-full;
}
.btn-add {
  @apply bg-blue-500 text-white p-2 rounded;
}
.btn-submit {
  @apply bg-green-500 text-white p-3 rounded w-full;
}
